@import '~foundation/scss/foundation';

body, html, main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: linear-gradient(50deg, rgba(173, 224, 106, 0.62) -33%, rgba(222, 121, 121, 0.7) 70%, rgba(70, 162, 232, 0.85) 150%), url("https://images.unsplash.com/photo-1465205568425-23fdd3805e49?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=50");
    background-size: cover;
}

.form-action {
    width: 50%;
    background: $primary-color;
    border: none;
    color: white;
    box-shadow: none;
    outline: none;
    text-transform: uppercase;

    &.active {
        background: $secondary-color;
        color: rgba(0,0,0,0.5);
    }
}

.auth-form {
    width: 40rem;
    height: 22rem;
    background: white;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

form {
    opacity: 0;
    padding: 5%;
    transition: opacity 250ms, transform 300ms ease-in-out;
    will-change: opacity, transform;

    &.signin-form {
        transform: translate(100%, -130%);
        &.active {
            transform: translate(0, -130%);
            opacity: 1;
        }
    }

    &.signup-form {
        transform: translate(-130%, 0);
        &.active {
            transform: translate(0);
            opacity: 1;
        }
    }

    button {
        border: none;
        box-shadow: none;
        text-transform: uppercase;
    }
}

.credit {
    padding-top: 1rem;
    text-align: center;
    font-size: .5rem;
    color: white;
    letter-spacing: .03rem;

    a {
        color: black;
        font-weight: bolder;
    }
}
